{% extends "blog/_home.html" %}
{% load static %}

{% block head %}
    <title>Home - Mekanika Batuan 2023/2024</title>
{% endblock head %}

{% block content %}

    <article class="post">
        <h2 class="post-title">Sample Post Title</h2>
        <p class="post-meta">Posted by <span class="post-author">John Doe</span> on <span class="post-date">February 5, 2024</span></p>
        <div class="post-content">
            <p>This is a sample post content. You can add your text, images, and other media here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lectus eget metus imperdiet ullamcorper.</p>
        </div>
    </article>

    <article class="post">
        <h2 class="post-title">Sample Post Title</h2>
        <p class="post-meta">Posted by <span class="post-author">John Doe</span> on <span class="post-date">February 5, 2024</span></p>
        <div class="post-content">
            <p>This is a sample post content. You can add your text, images, and other media here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lectus eget metus imperdiet ullamcorper.</p>
        </div>
    </article>

    <article class="post">
        <h2 class="post-title">Sample Post Title</h2>
        <p class="post-meta">Posted by <span class="post-author">John Doe</span> on <span class="post-date">February 5, 2024</span></p>
        <div class="post-content">
            <p>This is a sample post content. You can add your text, images, and other media here.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lectus eget metus imperdiet ullamcorper.</p>
        </div>
    </article>

{% endblock content %}