{% extends "war/_home.html" %}
{% load static %}

{% block head %}
    <title>Admin Control</title>
{% endblock head %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'war:admin_control' %}" novalidate>
        {% csrf_token %}

        <h6 align="center">Session Control</h6>
        <table align="center">
            {% for ses in session %}
            <tr>
            <td>{{ ses.name }}</td>
            <td><input type="checkbox" name="session" value="{{ses.name}}"></td>
            </tr>
            {% endfor %}
            </table>
        <button type="submit" name="command" value="regenerate_schedule" class="btn btn-primary btn-block"> Regenerate Schedule </button>
        <button type="submit" name="command" value="empty_schedule" class="btn btn-primary btn-block"> Empty Schedule </button>
            <br>
            <h6 align="center">Web Properties</h6>
            <table align="center">
            {% for control in controller %}
            <tr>
            <td>{{ control.name }}</td>
            {% if control.active == True %}
                <td><input onChange="this.form.submit()" type="checkbox" name="command" value="{{control.name}}" checked></td>
            {% else %}
                <td><input onChange="this.form.submit()" type="checkbox" name="command" value="{{control.name}}"></td>
            {% endif %}
            </tr>
            {% endfor %}
            </table>

    </form>

{% endblock content %}