{% extends "war/_home.html" %}
{% load static %}

{% block head %}
    <title>Jadwal - Mekanika Batuan 2023/2024</title>
    {# <link rel="stylesheet" href="{% static 'war/css/style.css' %}"> #}
{% endblock head %}

{% block content %}

    <div class="alert alert-success">
    {% if user.userdata.schedule %}
        Jadwal Praktikum Anda: {{ user.userdata.schedule.name }}
    {% else %}
        Anda belum memilih jadwal praktikum
    {% endif %}
    </div>

    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action="{% url 'krs_war' session.slug %}" novalidate>
    {% csrf_token %}
    <table class="styled-table">
    <thead>
        <tr>
            <th>Sesi</th>
            <th>Kuota Maksimal</th>
            <th>Tersedia</th>
        </tr>
    </thead>
    <tbody>
    {% for sch in schedule %}
        {% if sch.pk == user.userdata.schedule.pk %}
        <tr class="active-row">
        {% else %}
        <tr>
        {% endif %}
            <td>{{sch.name}}</td>
            <td align="center">{{sch.max_enrolled}}</td>
            <td align="center">{{sch.available}}</td>
            {% if sch.pk == user.userdata.schedule.pk %}
            <td align="center"><input onChange="this.form.submit()" type="checkbox" name="pk" value="{{ sch.pk }}" checked></td>
            {% else %}
            <td align="center"><input onChange="this.form.submit()" type="checkbox" name="pk" value="{{ sch.pk }}"></td>
            {% endif %}
            {# bikin form checklist, kalo diklik auto submit, id pake primary key schedule #}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </form>

    <style>

    .styled-table {
        border-collapse: collapse;
        margin: 25px auto;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 450px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
    </style>

{% endblock content %}