{% extends "war/_home.html" %}
{% load static %}

{% block head %}
    <title>Jadwal - Mekanika Batuan 2023/2024</title>
{% endblock head %}

{% block content %}

    <div id="infoSelected" class="alert alert-success"></div>

    {# <div id="alertMessage" class="hidden"></div> #}

    <table class="styled-table">
    <thead>
        <tr>
            <th>Kelompok</th>
            <th>Sesi</th>
            <th>Kuota Maksimal</th>
            <th>Tersedia</th>
        </tr>
    </thead>
    <tbody id="tableList">
    <script src="{% static 'war/js/tbody_krs.js' %}"></script>
    </tbody>
    </table>
{% endblock content %}