{% extends "war/_home.html" %}
{% load static %}

{% block head %}
<title>Jadwal - Lab Simulasi dan Komputasi</title>
{% endblock head %}

<script>
    var krsApiUrl = "{% url 'war:api_krs_war' session.slug %}";
</script>

{% block header_tab %}
<a href="{% url 'war:home' %}" class="float-right btn btn-outline-primary mt-1 mr-3">Home</a>
{% endblock header_tab %}

{% block content %}

<div id="infoSelected" class="alert alert-success"></div>

{# <div id="alertMessage" class="hidden"></div> #}

<table class="styled-table">
    <thead>
        <tr>
            <th>Kelompok</th>
            <th>Sesi</th>
            <th>Kuota Maksimal</th>
            <th>Tersedia</th>
        </tr>
    </thead>
    <tbody id="tableList">
        <script src="{% static 'war/js/tbody_krs.js' %}"></script>
    </tbody>
</table>
{% endblock content %}