{% extends "war/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Registration Form</title>
{% endblock head %}

{% block content %}
<div class="container mb-5 mt-5 pl-5 pr-5">
  <h3 class="">Registration Form</h3>
  <hr class="mb-4">
  {# <form action="{% url 'war:registration' event.name %}" method="post" enctype="multipart/form-data"> #}
    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="showPasswordCheck">
          <label class="custom-control-label" for="showPasswordCheck">Show Password</label>
        </div>
      </div>

      <button type="submit" value="Register" class="btn btn-primary">Register</button>
    </form>

    <script>
      $(document).ready(function () {
        $("#showPasswordCheck").change(function () {
          var isChecked = $(this).is(":checked");
          $("input[type='password'], input[data-type='password']").each(function () {
            if (isChecked) {
              $(this).attr("type", "text");
              $(this).attr("data-type", "password"); // Mark as originally password
            } else {
              $(this).attr("type", "password");
            }
          });
          // Also handle inputs that were switched to text
          $("input[data-type='password']").each(function () {
            if (!isChecked) {
              $(this).attr("type", "password");
            }
          });
        });
      });
    </script>
    <div>
      {% if messages %}
      <div class="alert alert-danger mt-1">
        {% for message in messages %}
        {{message}}
        {% endfor %}
      </div>
      {% endif %}
    </div>
</div>
{% endblock content %}