{% extends "war/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>Registration Form</title>
    {# <link rel="stylesheet" href="{% static 'war/css/style.css' %}"> #}
{% endblock head %}

{% block content %}
<div class="container mb-5 mt-5 pl-5 pr-5">
  <h3 class="">Registration Form</h3>
  <hr class="mb-4">
  {# <form action="{% url 'registration' event.name %}" method="post" enctype="multipart/form-data"> #}
  <form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" value="Register" class="btn btn-primary">Register</button>
  </form>
  <div>
  {% if form.errors %}
    <div class="alert alert-danger">
        {% for error in errors %}
          <p>error</p>
        {% endfor %}
    </div>
  {% endif %}
</div>
</div>
{% endblock content %}